.header {
    width: 100%;
}

.leftSideBar {
    width: 80%;
}

.rightSideBar {
    position: absolute;
    left: 80%;
    width: 20%;
}

.float {
    float: left;
}

.gifImage {
    margin: 5px;
    float: left;

}
.button {
    vertical-align: top;
    margin: 5px;
    width: 140px;
    height: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: yellowgreen;
}

.ratingSetting {
    vertical-align: top;
    margin: 0.25%;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: yellowgreen;
}

.subReset {
    vertical-align: top;
    margin: 0.25%;
    width: 47.5%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: yellowgreen;
}

.hover:hover {
    background-color: green;
}

.text {
    font-size: 20px;
}

.first {
    clear: both;
}

#more {
    width: 100%;
    margin: auto;
}
#moreButtonDiv {
    width: 100%;
}

.buttonDL {
    vertical-align: top;
    margin-top:10px;
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: yellowgreen;
}